<template>
<v-layout justify-center>
  <v-flex xs6>
    <v-card class="text-xs-center">
      <v-card-text>
        <v-avatar>
          <img :src="usuario.photoURL" alt="avatar">
        </v-avatar>
      </v-card-text>
      <v-card-text  class="text-xs-center">
        <h1>hola</h1>
      </v-card-text>
      <v-card-text>

        <input type="file" ref="searchPhoto" class="d-none" @change="buscarImagen($event)">
        <v-btn @click="$refs.searchPhoto.click()">Search</v-btn>
        <v-btn :disabled="file === null" @click="uploadPic" :loading="loading">Upload</v-btn>
      </v-card-text>

      <v-card-text v-if="file">
        <h4>{{file.name}}</h4>
        <v-img :src="urlTemporal"></v-img>
      </v-card-text>


    </v-card>
  </v-flex>
</v-layout>
</template>

<script>

import {mapState} from 'vuex';
import { firebase, storage, db} from '@/firebase';
export default {
name: "Admin",
  data(){
  return  {
    file:null,
    urlTemporal:'',
    loading:false
  }
  },
  computed:{
  ...mapState(['usuario'])
  },
  methods: {
    buscarImagen(event){
      console.log(event.target.files[0]);
      this.file = event.target.files[0]

      const reader = new FileReader();
      reader.readAsDataURL(this.file);
      reader.onload = (e) => {
        // console.log(e.target.result);
        this.urlTemporal = e.target.result
      }
    },
    async uploadPic(){

      try {

        this.loading = true

        const refImagen = storage.ref().child(this.usuario.email).child('profile picture')

        const res = await refImagen.put(this.file)

        console.log(res);

        const urlDownload = await refImagen.getDownloadURL()
        this.usuario.photo = urlDownload

        await db.collection('users').doc(this.usuario.uid).update({
          photo: urlDownload
        })

       } catch (error) {
        console.log(error);
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
