<template>
  <v-app>
<h1>ruta protegida</h1>
<p>Welcome back, {{usuario.email}} !</p>


    <v-layout>

      <v-flex md3>


<v-card md5>
        <v-form @submit.prevent="agregarContacto(name,number,email)" >
          <v-container>

                <v-text-field
                    v-model="name"

                    label="Name"
                    required
                ></v-text-field><br>



                <v-text-field
                    v-model="number"
                    label="Phone Number"
                    required
                ></v-text-field><br>



                <v-text-field
                    v-model="email"


                    label="E-mail"
                    required
                ></v-text-field>


          </v-container>
        </v-form>
  <v-btn type="submit" block color="secondary" @click="agregarContacto" dark>Add a new contact</v-btn>
</v-card>
      </v-flex >
<v-flex md1>

</v-flex>
<v-flex md6>
        <v-card>
          <h1>List</h1>
          <div>
          <ul>
          <li v-for="(item, index) in contacts" :key="index">
            {{item.name}} - {{item.number}} - {{item.email}}
            <button>Edit</button>
            <button>Share</button>
            <button>Delete</button>
          </li>
          </ul>
          </div>
        </v-card>
</v-flex>


    </v-layout>



  </v-app>
</template>

<script>
import {mapState, mapActions} from 'vuex';


export default {
name: "Contact-library",

  data() {
  return {

    name:'',
    number:'',
    email:'',
    edit:false,
    delete:false,
    share:false,
  }
  },
  methods:{
  ...mapActions(['getContacslibrary']),
    ...mapActions(['agregarContacto'])

  },

  computed: {
    ...mapState(['usuario']),
    ...mapState(['contacts']),


  },
}
</script>

<style scoped>

</style>
