<template>
  <v-layout justify-center mt-4>
    <v-flex xd12 sm8 md6 xl4>
      <v-card-text md6>
        <v-card-text md6 class="display-1 text-xs-center white--text" :class="signup ? 'accent' : 'black'">
          <span v-if="!signup">Login</span>
          <span v-if="signup">Sign up</span>
        </v-card-text>

      </v-card-text>

      <div v-if="!signup">
        <h1>Login</h1>
        <form @submit.prevent="ingresoUsuario({email:email, password:pass})">
          <input
              type="email"
              placeholder="Type your email"
              v-model="email"
          ><br>
          <input
              type="password"
              placeholder="Password"
              v-model="pass"
          ><br>
          <v-btn type="submit" @click="ingresoUsuario" >Sign in</v-btn>
        </form>
        <p>{{error}}</p>
      </div>

      <div v-if="signup">
        <h1>Create an account</h1>
        <form @submit.prevent="crearUsuario({email: email, password: pass1})">
          <input
              type="email"
              placeholder="Type your email"
              v-model="email"
          ><br>
          <input
              type="password"
              placeholder="Password"
              v-model="pass1"
          ><br>
          <input
              type="password"
              placeholder="Repeat your password"
              v-model="pass2"
          ><br>
          <v-btn type="submit" @click="crearUsuario" >Sign up</v-btn>
        </form>
        <p>{{error}}</p>
      </div>


      <v-btn block color="error" class="mt-1" @click="google">
             <i  class="fab fa-google mr-2"> </i> Google
      </v-btn>
      <v-btn block color="info" class="mt-1" @click="facebook">
        <i class="fab fa-facebook-f mr-2">   </i> facebook


      </v-btn >
      <v-btn block outlined color="secondary" class="mt-10" @click="signup = true" v-if="!signup">
        You don't have an account yet? Sign up here.
      </v-btn>

      <v-btn block outlined color="secondary" class="mt-10" @click="signup = false" v-if="signup">
        Already have an account? Log in here.
      </v-btn>

    </v-flex>
  </v-layout>
</template>


<script>
import { firebase, auth, db } from "@/firebase";
import {mapActions, mapState} from 'vuex'
import router from '@/router'

export default {
data() {
  return {
    signup: false,
    email: '',
    pass1:'',
    pass2:'',
    pass:''
  }
},
  created(){},

  methods:{

  ...mapActions(['ingresoUsuario']),
  ...mapActions(['crearUsuario']),

  facebook(){

    const provider = new firebase.auth.FacebookAuthProvider();
    this.ingresar(provider);
    router.push('/Contact-library')
  },
  google(){

    const provider = new firebase.auth.GoogleAuthProvider();
    this.ingresar(provider);

    router.push('/Contact-library')
  },
  async ingresar(provider){
    firebase.auth().languageCode = 'en';

      try {
        const result = await firebase.auth().signInWithPopup(provider);
        const user = result.user;
        console.log(user);
        this.setUsuario(user)

        router.push({name:'Contact-library'})

        //BUILD USER

       // const usuario = {
       //   name: user.displayName,
       //   email: user.email,
        //  uid: user.uid,
        //  photo: user.photoURL

        //}



        // SAVE IN FIRESTORE

        await db.collection('users').doc(usuario.uid).set(usuario)
        console.log('usuario guardado en db');
        router.push('/Contact-library')


      } catch (error) {
        console.log(error);
      }
    },
    computed:{
    ...mapState(['error']),
    }
  }
}


</script>
