<template>
  <div>

    <v-layout>

      <v-flex md3>


        <v-card md6>
          <v-form v-model="valid" >
            <v-container>

              <v-text-field
                  v-model="contactName"
                  :rules="nameRules"
                  label="Name"
                  required
              ></v-text-field><br>



              <v-text-field
                  v-model="contactPhoneNumber"
                  label="Phone Number"
                  required
              ></v-text-field><br>



              <v-text-field
                  v-model="contactEmail"
                  :rules="emailRules"
                  label="E-mail"
                  required
              ></v-text-field>


            </v-container>
          </v-form>
          <v-btn type="submit" block color="secondary" dark>Add a new contact</v-btn>
        </v-card>
      </v-flex >
      <v-flex>

      </v-flex>
      <v-flex>
        <v-data-table
            :headers="headers"
            :items="desserts"
            :items-per-page="5"
            item-key="name"
            class="elevation-1"
            :footer-props="{
      showFirstLastPage: true,
      firstIcon: 'mdi-arrow-collapse-left',
      lastIcon: 'mdi-arrow-collapse-right',
      prevIcon: 'mdi-minus',
      nextIcon: 'mdi-plus'
    }"
        >
        </v-data-table>
      </v-flex>


    </v-layout>
  </div>
</template>

<script>

import {mapActions} from "vuex";

let db = app.database
let contactsRef = db.ref('contacts');


export default {
name: "Addingcontacts",
  data() {
    return {
      contactName:'',
      phoneNumber:'',
      contactEmail:'',
    }
  },
  methods:{
    ...mapActions(['addNewContact'])
  },}
</script>

<style scoped>

</style>
