<template>
<nav>
  <<v-app-bar
      app
      color="black"
      dark
  >
    <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
  <router-link :to="{name:'Contact-library'}">
    <v-btn  target="_blank" text>
      <span class="mr-2">Private Contact Library</span></v-btn>
  </router-link>


    <v-spacer></v-spacer>

    <v-btn v-if="existeUsuario" @click="cerrarSesion" target="_blank" text
    >
      <span class="mr-2">Log out</span>
      <v-icon>mdi-logout</v-icon>
    </v-btn>
</v-app-bar>




      <v-navigation-drawer color="dark" v-model="drawer" v-if="usuario != ''"  app>
        <v-layout column align-center mt-5>
          <v-flex>
            <v-avatar>
              <img :src="usuario.photo" alt="avatar">
            </v-avatar>

         </v-flex>
          <v-flex>
            <p class="mt-3 white--grey">{{ usuario.email }}</p>
          </v-flex>

        </v-layout>


        <v-divider></v-divider>

        <v-list
            dense
            nav
        >
          <v-list-item
              v-for="item in items"
              :key="item.title"
              link
              :to="item.to"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>


  </v-navigation-drawer>

</nav>
</template>

<script>

import{mapActions, mapGetters, mapState} from 'vuex'


export default {
  name: "Navbar",
  data() {
    return {
      drawer: true,
      items: [
        { title: 'Main Library', icon:'mdi-account-box', to:{name:'Contact-library'}},
        //{ title: 'Secret Library', icon:'mdi-face', to:{name:'Contact-library'}},
        { title: 'Admin Account', icon:'mdi-face', to:{name:'Admin'}}
      ]
    }
  },

  methods: {
    ...mapActions(['cerrarSesion'])
  },
  computed:{
    ...mapState(['usuario']),
    ...mapGetters(['existeUsuario']),

  },

}
</script>

<style scoped>

.router-link{
  text-decoration: none;
}

</style>
