<template>
  <v-app class="app" >
    <Navbar></Navbar>


    <v-content>

        <router-view/>

    </v-content>

  </v-app>
</template>

<script>

import{mapActions, mapGetters, mapState} from 'vuex'
import Navbar from "@/components/Navbar";
export default {
  name: 'App',

  components: {
    Navbar,

  },

  data: () => ({
    //
  }),
  methods: {
    ...mapActions(['cerrarSesion'])
  },
  computed:{
    ...mapGetters(['existeUsuario']),
    ...mapState(['usuario'])
  }
};
</script>

<style>
.app {

  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
}
</style>
